<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form" action="{{ assertion_consumer_service }}" method="POST">
        <input type="hidden" name="SAMLResponse" value="{{ saml_assertion }}">
    </form>
    <script>
        window.onload = function(e) {
            const form = document.querySelector("form#form")
            form.submit()
        }
    </script>
</body>
</html>